# Sample input file for "bkp"
etc 	/etc
root	/root
log 	/var/log

stop:mysqld
mysql	/var/lib/mysql
start:mysqld

exec:/opt/bin/bkp-postgresql
postgresql	/opt/var/dump/postgresql

method:zip
dir:/mnt/ext-backup
files:*.txt
exec:rm -rf /home/pub/obsolete
docs	/home/pub/docs

exec:dpkg --get-selections|grep -v deinstall|cut -f1>/opt/var/log/dpkg.log
opt-log	/opt/var/log

opt-etc	/opt/etc
